:root {
  --font-color: rgba(0, 0, 0, .8);
  --pink-color: #EFDAD6;
  --green-color: #407257;
  --orange-color: #C47A35;
  --header-font: 'Shrikhand', cursive;
  --body-font: 'Raleway', sans-serif;
}

* {
  color: var(--font-color);
  font-family: var(--main-font);
  margin: 0;
}


body {
	font-family: var(--body-font);
	font-weight: 400;
	color: 
	margin: 0;
	line-height: 2em;
}

header {
	box-sizing: border-box;
	height: 100vh;
	padding: 140px;
	font-size: 2.5em;
	background: var(--pink-color);
	line-height: 2em;
/*	background: linear-gradient(to top, var(--pink-color), white);*/
	transform: skewY(22deg);
  	transform-origin: top right;
}

header h4 {
	font-weight: 500;
}

#top:focus, #featured-projects:focus, #about:focus, #contact:focus {
	outline: 0;
}

.header-content {
	margin-top: 250px;
	transform: skewY(-22deg);
	padding: 20px;
}

a {
	text-decoration: none;
	transition: all .5s;
	color: var(--green-color);

}

a:hover {
	color: var(--orange-color);
}

nav {
	height: 65px;
	text-align: left;
	color: white;
	position: fixed;
  	top: 0;
  	width: 100%;
  	box-sizing: border-box;
  	text-align: center;
  	z-index: 99;
  	font-size: 1em;
  	transition: background 1s;
  	font-weight: 900;
}

.nav-scrolling {
	background: var(--pink-color);
	font-size: .85em;
}

.nav-left, .nav-right {
	display: inline-block;
	position: absolute;
	top: 15px;
}

.nav-left {
	text-align: left;
	left: 20px;
}

.nav-right {
	text-align: right;
	right: 20px;
}

.nav-right a, .nav-left a {
	text-transform: none !important;
	margin: 0 20px;
	color: var(--font-color);
}

.nav-right a:hover, .nav-left a:hover {
	color: var(--green-color);
}


.nav-resume {
	background: rgba(0, 0, 0, .8);
	padding: 10px;
}

.nav-resume:hover {
	background: var(--orange-color);
	color: white;
}

a.nav-resume {
	color: white;
}

a.nav-resume:hover{
	color: white;
}

body > nav > div.nav-right > a.nav-resume.nav-desktop > svg > path {
	color: white;
}

.nav-logo {
	font-family: var(--header-font);
	font-size: 1.55em;
	letter-spacing: .75px;
}

.nav-hamburger {
	display: none;
}

.nav-responsive {
	display: none;
	position: absolute;
	top: 65px;
	right: 0;
	width: 50%;
	font-size: 1em;
	background: rgba(256, 256, 256, .95);
	box-shadow: 3px 3px 1px rgba(0, 0, 0, .3);
}

.nav-responsive a {
	color: var(--font-color);
	display: block;
	padding: 30px;
}

h1, h2 {
	font-family: var(--header-font);
	font-weight: 900;
	letter-spacing: 1px;
}

h2 {
	font-size: 2em;
	line-height: 1.25em;
}

h3 {
	font-size: 2.5em;
	line-height: 1.25em;
}

.grn-text {
	color: #407257;
}

h5 {
	font-size: 1em;
	font-weight: 700;
	font: var(--header-font);
}

.flex-grid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: stretch;
	margin: 0 auto;
}

.flex-grid.nowrap {
	flex-wrap: nowrap;
}

.portfolio-item.dream  {
  flex-grow: 3;
  min-width: 300px;
  background: url('../img/home_background.jpg') no-repeat;
  transition: all 2s;
  background-size: 150%;
  background-position: 50% 50%;
}

.portfolio-item.plant  {
  flex-grow: 6;
  width: 100%;
  background: url('../img/hero-1.jpg') no-repeat;
  transition: all 2s;
  background-size: 150%;
  background-position: 50% 50%;
}

.portfolio-item.blackjack {
	flex-grow: 2;
	min-width: 100px;
	background: url('../img/492231080.jpg') no-repeat;
  	transition: all 2s;
  	background-size: 150%;
  	background-position: 50% 50%;
}

.portfolio-item h3 {
	letter-spacing: 1px;
	line-height: 250px;
}

.portfolio-item.plant h3 {
	color: #E3CB43;
	text-transform: uppercase;
}

.portfolio-item.dream h3 {
	color: rgba(68, 73, 82, .9);
}

.portfolio-item.blackjack h3 {
	color: white;
}

.portfolio-item {
	text-align: center;
	height: 250px;
	transition: all 2s;
	margin: 10px;
	box-sizing: border-box;
}

.portfolio-item:hover {
	background-position: 50% 50%;
	background-size: 200%;
	cursor: pointer;
}

.about-item {
	transition: all 2s;
	margin: 15px;
	flex-grow: 1;
	align-self: top;
}

.about-item.center {
	align-self: center;
}

.about-item h5 {
	font-weight: 700;
	margin: 20px auto;
}

.about-item.bottom {
	align-self: flex-end;
}

hr {
	height: 3px;
	border: 0;
	background: #C47A35;
	width: 70px;
	margin: 0;
	margin: 20px 0;
}

div.section {
	margin: 0 auto;
	min-height: 100vh;
	padding: 120px 100px;
	box-sizing: border-box;
}


.row {
	padding: 0 150px;
}



a.button {
	font-weight: 700;
	color: #407257;
	text-decoration: none;
	padding: 8px;
	border: 2px solid #407257;
}



@keyframes floating {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0em, .40em);
    }
}

.green-icon {
	text-align: center;
	padding: 20px;
	display: block;
	background: none;
	animation: floating 1s infinite alternate ease-in;
}


body > header > div > a > p > svg > path {
	color: var(--green-color);
}

a.button:hover {
	color: white;
	background: #407257;
}

footer {
	display: inline-block;
	background: var(--pink-color);
	padding: 40px 200px;
  	box-sizing: border-box;

}

footer p {
	display: inline-block;
	margin: 0 20px;
	font-size: 1em;
}

.contact a {
	font-weight: 700;
	color: rgba(0,0,0,.9);
	letter-spacing: .75px;
	padding: 5px;
}

em {
	margin-left: 10px;
}

.headshot {
	height: 20em;
	width: 20em;
	opacity: .7;
	margin: 0 20px 0 0;
	border-radius: 250px;
}

@media all and (max-width: 1150px){
	header {
		padding: 70px 40px;
	}

}

@media all and (max-width: 920px){
	.flex-grid.nowrap {
		flex-wrap: wrap;
	}
	.nav-desktop {
		display: none;
	}

	header {
		padding: 50px;
	}
	.nav-hamburger {
		display: inline-block;
	}
}

@media all and (max-width: 780px){
	header {
		padding: 20px;
		font-size: 1.5em;
	}

	.green-icon {
		font-size: 2em;
	}

	.header-content {
		margin-top: 210px;
	}

	header h1 {
		padding: 20px 0;
	}
	div.section {
		padding: 10px;
	}	
	.portfolio-item.plant, .portfolio-item.dream, .portfolio-item.blackjack  {
		flex-grow: 1;
		max-width: 90%;
		min-width: 200px;
		font-size: .5em;
	}

	.portfolio-item {
		height: 150px;
	}

	footer {
		padding: 10px;
	}

	.portfolio-item h3 {
		line-height: 150px;
	}

}