/* Universal styles */
:root {
  --font-color: rgba(0, 0, 0, .82);
  --pink-color: #EFDAD6;
  --green-color: #407257;
  --orange-color: #C47A35;
  --header-font: 'Shrikhand', cursive;
  --body-font: 'Raleway', sans-serif;
}

* {
  color: var(--font-color);
  font-family: var(--main-font);
  margin: 0;
}

body {
	font-family: var(--body-font);
	font-weight: 400;
	margin: 0;
	line-height: 2em;
}

p {
	line-height: 2em;
}

a {
	text-decoration: none;
	transition: all 1s;
	color: var(--green-color);
	font-weight: 900;
}

a:hover {
	color: var(--orange-color);
}

h1, h2 {
	font-family: var(--header-font);
	font-weight: 900;
}

h2 {
	font-size: 2em;
	line-height: 1.25em;
}

h3 {
	font-size: 2.5em;
	line-height: 1.25em;
}

h5 {
	font-size: 1em;
	font-weight: 700;
	font: var(--header-font);
}

hr {
	height: 3px;
	border: 0;
	background: var(--orange-color);
	width: 70px;
	margin: 0;
	margin: 20px 0;
}

#top:focus, #featured-projects:focus, #about:focus, #contact:focus {
	outline: 0;
}

/* Flexbox and general grid settings */

div.section {
	margin: 0 auto;
	min-height: 100vh;
	padding: 50px 0 80px 0;
	width: 70%;
	box-sizing: border-box;
	transition: all 2s;
}

.flex-grid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: stretch;
	margin: 0 auto;
}

.flex-grid.nowrap {
	flex-wrap: nowrap;
}

/* Nav */

nav {
	height: 65px;
	width: 100%;
	position: fixed;
  	top: 0;
  	box-sizing: border-box;
  	transition: background 1s;
  	z-index: 99;
  	font-size: 1em;
  	font-weight: 900;
}

.nav-subpage {
	background: var(--pink-color);
}

.nav-scrolling {
	background: var(--pink-color);
	font-size: .85em;
}

.nav-left, .nav-right {
	display: inline-block;
	position: absolute;
	top: 15px;
}

.nav-left {
	text-align: left;
	left: 20px;
}

.nav-right {
	text-align: right;
	right: 20px;
}

.nav-right a, .nav-left a {
	text-transform: none !important;
	margin: 0 20px;
	color: var(--font-color);
}

.nav-right a:hover, .nav-left a:hover {
	color: var(--green-color);
}

.nav-logo {
	font-family: var(--header-font);
	font-size: 1.55em;
	letter-spacing: .75px;
}

.nav-hamburger {
	display: none;
}

.nav-responsive {
	display: none;
	position: absolute;
	top: 65px;
	right: 0;
	width: 50%;
	font-size: 1em;
	background: rgba(256, 256, 256, .95);
	box-shadow: 3px 3px 1px rgba(0, 0, 0, .3);
}

.nav-responsive a {
	color: var(--font-color);
	display: block;
	padding: 30px;
}

.nav-resume {
	background: rgba(0, 0, 0, .8);
	padding: 10px;
}

a.nav-resume {
	color: white;
}

a.nav-resume:hover {
	color: white;
}

body > nav > div.nav-right > a.nav-resume.nav-desktop > svg > path {
	color: white;
}

.nav-resume:hover {
	background: var(--orange-color);
	color: white;
}


/* Header */

.header-background {
	box-sizing: border-box;
	height: 100vh;
	width: 100%;
	padding: 200px 140px;
	font-size: 2.25em;
	background: var(--pink-color);
	line-height: 2em;
	transform: skewY(25deg);
  	transform-origin: top right;
  	transition: all 2s;
  	position: absolute;
  	top: 0;
  	left: 0;
  	z-index: -1;
}

header {
	margin-top: 64px;
	height: 100vh;
	width: 100%;
	display: flex;
  	justify-content: center;
  	align-items: center;
  	font-size: 2.5em;
}

.header-content {
	display: inline-block;
	margin: 0 auto;
	transition: all .5s;
}

header h1 {
	display: inline-block;
	margin: 0 auto;
	padding: 20px 0;
}

header h4 {
	display: inline-block;
	margin: 0 auto;
	line-height: 1.5em;
	font-weight: 500;
	white-space: nowrap;
}

@keyframes floating {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0em, .40em);
    }
}

.green-icon {
	font-size: 1.5em;
	text-align: center;
	padding: 20px;
	display: block;
	background: none;
	animation: floating 1s infinite alternate ease-in;
}


body > header > div > a > p > svg > path {
	color: var(--green-color);
}

/* Footer */

footer {
	position: absolute;
	right: 0;
	display: inline-block;
	width: 100%;
  	box-sizing: border-box;
  	margin: 0;
  	padding: 40px;
  	background: var(--pink-color);
}

footer h4 {
	font-family: var(--header-font);
	margin-bottom: .75em;
	font-size: 2em;
}

footer p {
	line-height: 3em;
	display: inline-block;
	margin-right: 10px;
}

footer a span, footer a > svg > path {
	transition: all 1s;
}

footer a:hover > svg > path, footer a:hover > span {
	color: var(--green-color);
}

.footer-content {
	margin: 0 auto;
	display: inline-block;
	font-size: 1em;
}

.icon-label {
	margin-left: 10px;
	margin-right: 10px;
}

/* Selected projects section */

.portfolio-item {
	text-align: center;
	height: 250px;
	transition: all 2s;
	margin: 10px;
	box-sizing: border-box;
}

.portfolio h1 {
	font-size: 3em;
	line-height: 1em;
	margin: .25em auto;
}

.portfolio-item h3 {
	letter-spacing: 1px;
	line-height: 250px;
}

.portfolio-item.dream  {
  flex-grow: 3;
  min-width: 300px;
  background: url('../img/home_background.jpg') no-repeat;
  transition: all 2s;
  background-size: 180%;
  background-position: 50% 50%;
}

.portfolio-item.plant  {
  flex-grow: 6;
  width: 100%;
  background: url('../img/hero-1.jpg') no-repeat;
  transition: all 2s;
  background-size: 180%;
  background-position: 50% 50%;
}

.portfolio-item.blackjack {
	flex-grow: 2;
	min-width: 100px;
	background: url('../img/492231080.jpg') no-repeat;
  	transition: all 2s;
  	background-size: 180%;
  	background-position: 50% 50%;
}

.portfolio-item.plant h3 {
	color: #E3CB43;
	text-transform: uppercase;
}

.portfolio-item.dream h3 {
	color: rgba(68, 73, 82, .9);
}

.portfolio-item.blackjack h3 {
	color: white;
}

.portfolio-item:hover {
	background-position: 50% 50%;
	background-size: 200%;
	cursor: pointer;
}

/* Buttons */

.back-next-buttons {
	text-align: center;
	padding: 20px;
}

.button {
	margin: 0 auto;
	margin-right: 0;
	align-self: center;
}

.button a, .back-next-buttons a {
	font-weight: 700;
	color: #407257;
	text-decoration: none;
	padding: 8px;
	border: 2px solid #407257;
	transition: all 1s;
}

.back-next-buttons > a > svg > path {
	color: var(--green-color);
	transition: all 1s;
}

.back-next-buttons > a:hover > svg > path {
	color: white;
}

.button a:hover, .back-next-buttons a:hover {
	color: white;
	background: #407257;
}


/* About */

.about-item {
	transition: all 2s;
	margin: 15px;
	flex-grow: 1;
	align-self: top;
}

.about-item h5 {
	font-weight: 700;
	margin: 20px auto;
}

.about-item.bottom {
	align-self: flex-end;
}

.headshot {
	text-align: center;
}

.headshot img {
	height: 20em;
	width: 20em;
	opacity: .9;
	margin: 0 20px 0 0;
	border-radius: 250px;
}

/* Portfolio subpage */

div.section.portfolio {
	margin-top: 80px;
}

.portfolio p {
	margin: 10px auto;
}

.portfolio-images {
	margin: 20px auto;
	text-align: center;
}

.portfolio-images img {
	height: 320px;
	max-width: 100%;
	margin: 5px;
}

/* Responsive */

@media all and (max-width: 1150px){
/*	header {
		padding: 200px 40px;
	}
*/
	.about-item.skills {
		margin: 0;
		font-size: .9em;
	}

	.button {
		margin: 20px auto;
	}
}

@media all and (max-width: 900px){
	.flex-grid.nowrap {
		flex-wrap: wrap;
	}

	.nav-desktop {
		display: none;
	}

	.header-background {
		transform: skewY(35deg);
	}

	.header-content {
		overflow: visible;
		width: 65%;
		margin: 0 auto;
		font-size: 1em;
		line-height: 2em;
		letter-spacing: 0px;
	}

	.nav-hamburger {
		display: inline-block;
	}
}

@media all and (max-width: 650px){
	.header-content {
		width: 80%;
	}
}

@media all and (max-width: 835px){
/*	header {
		padding: 50px 20px;
		font-size: 2em;
	}*/
	.portfolio-item.plant, .portfolio-item.dream, .portfolio-item.blackjack  {
		font-size: .6em;
	}
}

@media all and (max-width: 780px){
	h1, h2 {
		letter-spacing: .75px;
	}

/*	header {
		font-size: 1.5em;
	}

	.header-content {
		margin-top: 200px;
	}
*/
	.green-icon {
		font-size: 2em;
	}

	div.section {
		padding: 20px;
		margin: 30px auto;
		width: 100%;
	}

	div.section.portfolio {
		margin-top: 100px;
	}

	footer p {
		display: block;
	}

	footer {
		padding: 20px;
	}

	.footer-content {
		padding: 40px 10px;
	}

	.portfolio-item.plant, .portfolio-item.dream, .portfolio-item.blackjack  {
		flex-grow: 1;
		max-width: 100%;
		min-width: 200px;
/*		font-size: .5em;*/
	}

	.portfolio-item {
		height: 200px;
	}

	.portfolio-item h3 {
		line-height: 200px;
	}

	.portfolio-images img {
		height: auto;
		max-width: 95%;
	}

}

@media all and (max-width: 500px){
	.header-background {
		transform: skewY(58deg);
	}

	.header-content {
		width: 100%;
		padding: 50px;
		font-size: .6em;
		line-height: 2em;
	}

	.back-next-buttons a {
		display: block;
		margin-top: 10px;
	}
}
