:root {
  --font-color: rgba(0, 0, 0, .9);
  --pink-color: #EFDAD6;
  --green-color: #407257;
  --orange-color: #C47A35;
}

* {
  color: var(--font-color);
  font-family: var(--main-font);
  margin: 0;
}


body {
	font-family: 'Cabin', sans-serif;
	font-weight: 400;
	color: 
	margin: 0;
	line-height: 2em;
}

header {
/*	background: linear-gradient(to bottom, #EFDAD6 20%, white);*/
	box-sizing: border-box;
	height: 100vh;
	padding: 200px;
	font-size: 2.5em;
	line-height: 2em;
	background: linear-gradient(to top, var(--pink-color), white);
	transform: skewY(22deg);
  	transform-origin: top right;
}

header h1, header h4 {
	transform: skewY(-22deg);
}

.header-content {
	margin-top: 250px;
}

a {
	text-decoration: none;
	transition: all .5s;
	color: var(--green-color);

}

a:hover {
	color: var(--orange-color);
}

nav {
	/*background: var(--pink-color);*/
	height: 65px;
	text-align: left;
	color: white;
	position: fixed;
  	top: 0;
  	width: 100%;
  	box-sizing: border-box;
  	text-align: center;
  	z-index: 99;
  	font-size: 1em;
  	transition: content 2s;
  	font-weight: 900;
}

.nav-left, .nav-right {
	display: inline-block;
	position: absolute;
	top: 15px;
}

.nav-left {
	text-align: left;
	left: 20px;
}

.nav-right {
	text-align: right;
	right: 20px;
}

.nav-right a, .nav-left a {
	text-transform: none !important;
	margin: 0 20px;
	color: var(--font-color);
}

.nav-logo {
	font-family: 'Shrikhand', cursive;
	font-size: 1.25em;
	color: var(--green-color);
	letter-spacing: .75px;
}

h1, h2 {
	font-family: 'Shrikhand', cursive;
	font-weight: 900;
	letter-spacing: 1px;
}

h2 {
	font-size: 2em;
	line-height: 1.25em;
}

h3 {
	font-size: 2.5em;
	line-height: 1.25em;
}

.grn-text {
	color: #407257;
}

h5 {
	font-size: 1em;
	font-weight: 700;
	text-transform: uppercase;
}

.flex-grid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: stretch;
	margin: 0 auto;
}

.flex-grid.nowrap {
	flex-wrap: nowrap;
}

.portfolio-item.plant, .portfolio-item.dream  {
  flex-grow: 2;
  min-width: 350px;
}

.portfolio-item.plant  {
  flex-grow: 4;
  min-width: 500px;
}

.portfolio-item.plant {
	order: 1;
}

.portfolio-item.dream {
	order: 2;
}

.portfolio-item.blackjack {
	flex-grow: 1;
	min-width: 200px;
	order: 3;
}

.portfolio-item {
	background: url('../img/plant-parenthood.jpg');
	background-size: 150%;
	padding: 60px 40px;
	background-position: 50% 50%;
	transition: all 2s;
	margin: 10px;
}

.portfolio-item:hover {
	background-size: 200%;
	/*background: url('../img/plant-parenthood.png');
	background-position: 50% 50%;*/
}

.about-item {
	transition: all 2s;
	margin: 15px;
	flex-grow: 1;
	align-self: top;
}

.about-item.center {
	align-self: center;
}

.about-item.bottom {
	align-self: flex-end;
}

hr {
	height: 3px;
	border: 0;
	background: #C47A35;
	width: 70px;
	margin: 0;
	margin: 20px 0;
}

div.section {
	margin: 0 auto;
	min-height: 100vh;
	padding: 120px 80px;
	box-sizing: border-box;
}


.row {
	padding: 0 150px;
}



a.button {
	font-weight: 700;
	color: #407257;
	text-decoration: none;
	padding: 8px;
	border: 2px solid #407257;
}

.orng-icon {
	background: #C47A35;
	color: white;
	border-radius: 100px;
	line-height: 1em;
	font-size: .75em;
	padding: 20px;
	transform: skewY(22deg);
}

a.button:hover {
	color: white;
	background: #407257;
}

footer {
	display: inline-block;
	background: #EFDAD6;
	padding: 40px;
	position: absolute;
	right: 0;
}

footer a {
	font-weight: 700;
	color: rgba(0,0,0,.9);
	letter-spacing: .75px;
	padding: 5px;
}

em {
	margin-left: 10px;
}

.headshot {
	height: 20em;
	width: 20em;
	opacity: .7;
	margin: 0 20px 0 0;
	border-radius: 250px;
}

@media all and (max-width: 920px){
	header {
		padding: 50px 20px;
	}
/*	div.section {
		padding: 20px;
	}*/
	.flex-grid.nowrap {
		flex-wrap: wrap;
	}
}

@media all and (max-width: 780px){
	header {
		padding: 100px 10px;
		font-size: 1em;
	}
	div.section {
		padding: 10px;
	}	
	.portfolio-item.plant, .portfolio-item.dream, .portfolio-item.blackjack  {
		flex-grow: 1;
		max-width: 90%;
		width: 100%;
		padding: 50px 20px;
		font-size: .5em;
		min-width: 200px;
	}

	.portfolio-item.plant {
		order: 1;
	}

	.portfolio-item.dream {
		order: 2;
	}

	.portfolio-item.blackjack {
		order: 3;
	}

}
